/*  your css code here. If applicable */
    .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .panel {
            width: 400px;
            height: 400px;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: transform 0.5s;
            margin: 10px;
			border-radius:12px;
        }

        .panel.active {
			width:400%;
        }

        .img-text {
            text-align: center;
            padding: 10px;
            background: rgba(0, 0, 0, 0.7);
            color: white;
			border-radius:0px;
        }